<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mbrailway</title>
</head>
<body>
<header th:fragment="header" class="sticky-top">
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top me-2">
                M<span>B</span>railway
            </a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 first">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/timetable}">Train Timetable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin}">Admin</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 second">

                    <div class="dropdown nav-item" th:if="${username != null and username != 'anonymousUser'}">
                        <a class="nav-link dropdown-toggle" th:text="${username}"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" th:href="@{/users/dashboard/{id}(id=${#authentication.principal.id})}">Dashboard</a>
                            </li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:unless="${username != null and username != 'anonymousUser'}" th:href="@{/login}">Register/Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>

</body>
</html>