.legal {
}
.legal .head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: var(--primary-color);
    background: linear-gradient(153.12deg, rgba(209, 23, 11, 0.32) 3.42%, rgba(107, 12, 6, 0.16) 97.47%);
    backdrop-filter: blur(20px);
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 30px 30px;
}
.legal .contents h3{
    color: var(--primary-color);
    margin: 20px 0 10px 0;
}
.legal .contents h4{
    color: var(--primary-color);
}