.user{
 background: rgba(209, 23, 11, 0.3);
 margin: 0;
 padding: 20px 10px;
}
.user .title{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin: 20px 10px;
}
.user .title div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    min-height: 10vh;
    border-radius: 20px;
    padding: 20px;
}
.user .content{
    margin: 20px 10px;
    background: white;
    min-height: 40vh;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    justify: center;
    align-items: center;
}
.user .content .profile-detail .profile{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}
.user .content .profile-detail .profile h5{
    margin: 0;
}
.user .content .profile-detail a{
    color: white;
    margin: 10px 0;
}
.user .title a{
     width: 20px;
     height: 20px;
     color: var(--primary-color);
     text-decoration: none;
     margin-bottom: 10px;
}
.user .title a .icon{
     width: 100%;
     height: 100%;
}

/* update user page  */
.user .update-user h3{
    text-align: center;
}
.user .update-user label{

}
.user .update-user .close a{
    color: white;
}

/* for medium and large screen */
@media only screen and (min-width: 768px){
    .user{
     padding: 30px;
    }
    .user .title{
        grid-template-columns: 30% 30% 30%;
        gap: 10px;
    }
    .user .content{
        margin: 20px;
    }
    .user .title div{
        height: 20vh;
    }
    .user .title a{
         width: 40px;
         height: 40px;
    }


}

