<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>mbrailway</title>
</head>
<body>
<!--header section-->
<header th:replace="fragments/header :: header">...</header>

<!--main section-->
<main>
    <div class="admin pt-5">
        <section class="reservations mt-3">
            <h2>Book your Train in minutes</h2>

            <table class="table table-striped table-responsive-sm" th:if="${#lists.size(trains) > 0}">
                <thead>
                <tr>
                    <th>Departure Date</th>
                    <th>Train Coach</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="train : ${trains}">
                    <td th:text="${train.departureDate}"></td>
                    <td th:text="${train.trainCoach}" ></td>
                    <td th:text="${train.origin}"></td>
                    <td th:text="${train.destination}"></td>
                    <td class="" colspan="2">
                        <a class="btn btn-primary view"
                           th:href="@{/reservations/{trainId}(trainId=${train.trainId})}">
                            Book Now
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="no-data" th:if="${#lists.size(trains) == 0}">
                <h5>There is no available Train for reservation at the moment</h5>
                <p>Please check back later</p>
            </div>
        </section>

    </div>
</main>

<!--footer section-->
<footer th:replace="fragments/footer :: footer">...</footer>

<!--javascript section-->
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/solid.js}"></script>
<script type="text/javascript" th:src="@{/js/brands.js}"></script>
<script type="text/javascript" th:src="@{/js/fontawesome.js}"></script>
</body>
</html>
